@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Great+Vibes&display=swap');

/* Structural CSS */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Cabin", sans-serif;
    background-color: #EFE4D2;
    color: black;
}

#info-break .line {
    width: 12.5rem;
    border-top: 2px solid;
    margin: 0 auto;
}

/* Fonts */

.great-vibes {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 4rem;
}

/* Countdown timer */

#countdown {
    font-size: 2rem;
}

/* Accordian details style */

/* Change background and text color of active accordion button */
.orange-acc .accordion-button:not(.collapsed) {
  background-color: #de9f66;  
  color: #de9f66;               
}

.pink-acc .accordion-button:not(.collapsed) {
  background-color: #da91b4;  
  color: #da91b4;               
}

.rouge-acc .accordion-button:not(.collapsed) {
  background-color: #c97861;  
  color: #c97861;               
}

/* Change hover/focus color */
.orange-acc .accordion-button:focus {
  border-color: #da91b4;
  box-shadow: 0 0 0 0.25rem #da91b4;
}

.pink-acc .accordion-button:focus {
  border-color: #c97861;
  box-shadow: 0 0 0 0.25rem #c97861;
}

.rouge-acc .accordion-button:focus {
  border-color: #de9f66;
  box-shadow: 0 0 0 0.25rem #de9f66;
}

/* Accommodation button details style */

/* Change background and text color of active accordion button */
button.custom-collapse-btn-orangetravel {
  background-color: #de9f66;
  border: none;
}

button.custom-collapse-btn-rougetravel {
  background-color: #c97861;
  border: none;
}

button.custom-collapse-btn-pinktravel {
  background-color: #da91b4;
  border: none;
}

/* Change hover/focus color */
button.custom-collapse-btn-orangetravel:hover {
  background-color: #da91b4;
  border: none;
}

button.custom-collapse-btn-rougetravel:hover {
  background-color: #de9f66;
  border: none;
}

button.custom-collapse-btn-pinktravel:hover {
  background-color: #c97861;
  border: none;
}



/* Links underline on hover */

.underline-on-hover {
    border-bottom: 2px solid transparent;
    transition: border-color 0.5s ease;
    cursor: pointer;
}

.underline-on-hover:hover {
    border-bottom-color: currentColor;
}

/* Hero image and text*/

#hero-container {
    height: 70vh;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
    border: rgba(217, 217, 217, 0.5) solid 1px;
    border-radius: 3px;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center;
    position: relative;
    transition: transform 4s;
}