@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Great+Vibes&display=swap');

/* Structural CSS */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Cabin", sans-serif;
    background-color: #EFE4D2;
    color: black;
}

/* Fonts */

.great-vibes {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 4rem;
}

/* Links underline on hover */
.underline-on-hover {
  border-bottom: 2px solid transparent;
  transition: border-color 1s ease;
  cursor: pointer; 
}

.underline-on-hover:hover {
  border-bottom-color: currentColor; 
}



  