@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Great+Vibes&display=swap');

/* Structural CSS */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Cabin", sans-serif;
  background-color: #EFE4D2;
  color: black;
}

#info-break .line {
  width: 12.5rem;
  border-top: 2px solid;
  margin: 0 auto;
}

/* Fonts */

.great-vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 4rem;
}

/* INDEX PAGE */

/* Hero image and text*/

#hero-container {
  height: 70vh;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
  border: rgba(217, 217, 217, 0.5) solid 1px;
  border-radius: 3px;
}

#hero-image {
  height: 100%;
  width: 100%;
  background: url(../images/hero-image.png) no-repeat center center;
  position: relative;
  transition: transform 4s;
}

/* Typography */
.container.text-center.py-5 p {
  font-size: 1.75rem;
  padding-top: 1.25rem;
}

/* Countdown timer */

#countdown {
  font-size: 2rem;
}

/* Links underline on hover */

.underline-on-hover {
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s ease;
  cursor: pointer;
}

.underline-on-hover:hover {
  border-bottom-color: currentColor;
}

/* ACCOMMODATION PAGE */

/* Accordian details style */

/* Change background and text color of active accordion button */
.orange-acc .accordion-button:not(.collapsed) {
  background-color: #de9f66;
  color: #de9f66;
}

.pink-acc .accordion-button:not(.collapsed) {
  background-color: #da91b4;
  color: #da91b4;
}

.rouge-acc .accordion-button:not(.collapsed) {
  background-color: #c97861;
  color: #c97861;
}

/* Change hover/focus color */
.orange-acc .accordion-button:focus {
  border-color: #da91b4;
  box-shadow: 0 0 0 0.25rem #da91b4;
}

.pink-acc .accordion-button:focus {
  border-color: #c97861;
  box-shadow: 0 0 0 0.25rem #c97861;
}

.rouge-acc .accordion-button:focus {
  border-color: #de9f66;
  box-shadow: 0 0 0 0.25rem #de9f66;
}

/* Accommodation button details style */

.accordion-item {
  margin-bottom: 1rem; 
}


.accordion-button {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 1rem !important;
  align-items: center;
}


/* Button image styling */

.accordion-button img {
  width: auto;
  max-width: 10.25rem;
  max-height: 6.25rem;
  object-fit: contain;
  display: block;
  margin: 0 auto 0.5rem auto;
  background-color: transparent !important;
  border: none !important;
  padding-bottom: 0.1rem !important;
}

.accordion-button:not(.collapsed) {

  border: none !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-item {
  border: none !important;
}

/* Change background and text color of active accordion button */

/* Orange Travel*/
button.custom-collapse-btn-orangetravel {
  background-color: #de9f66 !important;
  border: none !important;
  color: #fff !important;
}

button.custom-collapse-btn-orangetravel:hover,
button.custom-collapse-btn-orangetravel:focus {
  background-color: #da91b4 !important;
  border: none !important;
}

button.custom-collapse-btn-orangetravel:not(.collapsed) {
  background-color: #de9f66 !important;
  color: #fff !important;
  border: none !important;
}

/* Rouge Travel*/
button.custom-collapse-btn-rougetravel {
  background-color: #c97861 !important;
  border: none !important;
  color: #fff !important;
}

button.custom-collapse-btn-rougetravel:hover,
button.custom-collapse-btn-rougetravel:focus {
  background-color: #de9f66 !important;
  border: none !important;
}

button.custom-collapse-btn-rougetravel:not(.collapsed) {
  background-color: #c97861 !important;
  color: #fff !important;
}

button.custom-collapse-btn-pinktravel {
  background-color: #da91b4;
  border: none;
}

/* Pink travel */

button.custom-collapse-btn-pinktravel {
  background-color: #da91b4 !important;
  border: none !important;
  color: #fff !important;
}

button.custom-collapse-btn-pinktravel:hover,
button.custom-collapse-btn-pinktravel:focus {
  background-color: #c97861 !important;
  border: none !important;
}

button.custom-collapse-btn-pinktravel:not(.collapsed) {
  background-color: #da91b4 !important;
  color: #fff !important;
  border: none !important;
}



