@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Great+Vibes&display=swap');

/* Structural CSS */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Cabin", sans-serif;
    background: #EFE4D2;
    color: red;
}

/* Fonts */

h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
}


